@model RelationshipHistoryBoard.Models.SurveyOccation
@*@model RelationshipHistoryBoard.Models*@
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SurveyOccation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Survey.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survey.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questionses)
        </dt>
        @foreach (var item in Model.Questionses)
        {
            
            <dd>
                @Html.DisplayFor(model => item.QuestionText)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
